boto3==1.26.89
mysql-connector-python==8.0.32
requests==2.28.2
PyGithub==1.58.1
google-cloud-storage==2.7.0
stripe==5.2.0
azure-identity==1.12.0
twilio==8.0.0
pymongo==4.3.3
cryptography==39.0.1
pyjwt==2.6.0
python-dotenv==1.0.0
